header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px #4b0e09;
    background-color: #d66c66;
    height: fit-content;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 2rem;

}

.Title{
    height: 100%;
    width: 15rem;
    margin-left: 1%;
    margin-right: 10%;
}

.Title img{
    max-width: 100%;
    max-height: 100%;
}
.ButtonsContainer{
    width: 28.5rem;
}

.Button{
    color: #410b08;
    border-radius: 7%;
    height: 3rem;
    border: 0;
    width: 8rem;
    margin-right: 5%;
    cursor: pointer;
    font-weight: 700;
    transition: .5s;
}

.Button:hover{
    background-color: #69ead2;
    box-shadow: 3px 3px 200px #4b0e09;
}

.Button:active{
    background-color: white;
}

.Active{
    background-color: #69ead2;
    box-shadow: 3px 3px 200px #4b0e09;
}

