.Container{
    position: relative;;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}


.Card{
    display: flex;
    justify-content: center;
    background-color: #d66c66;
    box-shadow: 3px 3px 10px #4b0e09 ;
    border-radius: 0 .5rem .5rem 0;
    padding-right: 1rem;
    transition: 1s;
    cursor: pointer;
    width: 35rem;
    height: 19rem;
}

.Card:hover{
    box-shadow: 3px 3px 100px #4b0e09 ;
}


.Button{
    height: 100%;
    width: 2rem;
    background-color: #69ead2;
    border: none;
    border-radius: .5rem 0 0 .5rem;
    font-weight: bold;
    box-shadow: 3px 3px 10px #4b0e09 ;
    text-align: center;
    font-size: 1.7rem;
    transition: 1s;
    cursor: pointer;
    z-index: 9999;
    color: #410b08;
}

.Button:hover{
    height: 100%;
    background-color: #f7f77b;
    width: 3.5rem;
    text-align: center;
}



.Id{
    position: absolute;
    left: 8%;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 1rem ;
    background-color:#debab1;
    border: .3rem solid #d75d5f;
    border-radius: 100%;
    box-shadow: 0px 1px 1px 1px #901812 inset;
    height: 2rem;
    width: 2rem;
    padding: .3rem;
    font-weight: bold;
    color: #410b08;

}

.Image{
    margin: 1rem;
    box-shadow: 1rem 1rem 20rem 2px crimson  ;
    padding: .5rem;
    border-radius: 100%;
    width: 45%;
    transition: 1s;
}

.Atributes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #410b08;
}

.Atributes h2{
    box-shadow: 1rem 1rem 100px 2px #c69457;
    padding: 1rem;
    background-color: #debab1;
    border-radius: 3rem;
    font-size: 1rem;

}

a{
    text-decoration: none;
    height: 75%;
}

.Extra{
    width: 3rem;
}

.Favorite{
    position: absolute;
    left: 8%;
    bottom: 3rem;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 1rem ;
    background-color:#debab1;
    border: .3rem solid #d75d5f;
    border-radius: 100%;
    box-shadow: 0px 1px 1px 1px #901812 inset;
    height: 3rem;
    width: 3rem;
    padding: .3rem;
    font-weight: bold;
    color: #410b08;
    cursor: pointer;
}
