header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px #4b0e09;
    background-color: #d66c66;
    height: fit-content;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 2rem;

}

.Title{
    height: 100%;
    width: 15rem;
    margin-left: 1rem;
}

.Title img{
    max-width: 100%;
    max-height: 100%;
}
.ButtonsContainer{
    width: 18rem;
}

.Button{
    height: 3rem;
    border: 0;
    width: 8rem;
    margin-right: 5%;
    cursor: pointer;
}

